/* ==== meadia ==== */
@media(min-width:990px) and (max-width:1200px){
    /* ==== HEADER ==== */
    .header{
        padding: 15px;
    }
    .header__img {
        width: 40%;
    }
    /* ==== MENU ==== */
    .menu__top {
        display: flex;
        justify-content: space-between;
        gap: 120px;
    }
    .title {
        font-size: 47px;
    }
    .info {
        padding: 111px 0 30px 111px;
    }
    .info__btn{
        padding: 11px 14px;
    }
    .text {
        padding: 32px 0 24px 0;
    }
    /* ==== OCCAS ==== */
    .occas {
        padding: 50px;
    }
    .occas-img {
        display: flex;
        gap: 7px;
        padding-bottom: 100px;
    }
    /* ==== GRT START  ==== */
    .get-title {
        font-size: 27px;
    }
    .get-sabtitle {
        font-size: 26px;
    }    
    .get__btn {
        padding: 10px 9px;
    }
    .get__info {
        display: flex;
        gap: 170px;
    }
    /* ==== BLOGS ==== */
    .blogs-content {
        display: flex;
        gap: 50px;
    }       
    .content__title{
        font-size: 48px;
        width: 80%;
        padding: 40px 0 80px 0;
        font-weight: 300;
    }
    .menu__left {
        padding: 35px 30px 32px 23px;
    }
    .menu__right {
        padding: 35px 30px 32px 23px;
    }
    /* ==== FOOTER ==== */
    .footer__link {
        padding: 0 12px;
    }
}
@media(min-width:769px) and (max-width:989.9px){
    /* ==== HEADER ==== */
    .header__img {
        width: 60%;
        height: 40px;
    }
    .header__link {
        padding: 0 10px;
        color: #000;
    }
    .header__btn{
        padding: 9px 18px;
    }
    /* ==== MENU ==== */
    .menu__top{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 2px;
    }
    .info {
        padding: 65px 0 30px 0px;
        width: 66%;
        text-align: center;
        margin: 0 auto;
    }
    .title{
        font-size: 40px;
    }
    .text {
        padding: 20px 0 32px 0;
        width: 102%;
    }
    .menu__bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .uptitle {
        font-size: 38px;
    }
    .uptext {
        padding: 25px 0px 0 0;
    }
    /* ==== OCCAS ==== */
    .occas{
        padding: 80px;
    }
    .occas-img {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .carusel{
        width: 47%;
    }
    /* ==== GET START ==== */
    .get-title {
        margin-bottom: 7px;
    }
    .get__active {
        margin-bottom: 3px;
    }
    /* ==== BLOGS ==== */
    .blogs {
        padding: 48px;
    }
   .blogs-content{
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
        gap: 40px;
   }
   .content-info{
        text-align: center;
        color: #000;
   }
   .content-link{
        color: #000;
   }
   .content-title {
        font-size: 32px;
        width: 106%;
    }
    .blogs__menu{
        display: flex;
        flex-direction: column;     
    }
    .menu__left {
        padding: 30px 48px 50px 20px;
        box-shadow: 10px 10px 15px rgb(0 0 0 / 5%);
    }
    .menu__right {
        padding: 30px 12px 50px 20px;
    }
    /* ==== FOOTER ==== */
    .footer__link {
        padding: 0 22px;
    }
    .footer__img {
        padding: 0 53px;
    }
}
@media(min-width:447px) and (max-width:768.9px){
    /* ==== HEADER ==== */
    .header{
        display: flex;
        gap:180px;
    }
    .header__menu{
        display: none;
    }
    .header__btn{
        display: none;
    }
    .header__hambur {
        display: block;
        width: 7%;
        height: 36px;
    }   
    .header__img {
        width: 160%;
        height: 55px;
    }
    /* ==== MENU ==== */
    .menu__top{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 1px;
    }
    .info {
        padding: 45px 0 30px 0px;
        width: 65%;
        text-align: center;
        margin: 0 auto;
    }
    .title{
        font-size: 32px;
    }
    .text{
        padding: 25px 0 32px 0;
        width: 102%;
    }
    .info-btn{
        padding: 9px 10px;
    }
    .menu__bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .uptext {
        padding: 23px 0px 0 0;
    }
    /* ==== OCCAS ==== */
    .occas{
        padding: 130px;
    }
    .occas-img {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .carusel{
        width: 97%;
    }
    /* ==== GET START ==== */
    .get__info {
        display: flex;
        gap: 37px;
        flex-direction: column;
        text-align: center;
    }
    .get-title {
        font-size: 40px;
        width: 100%;
    }
    .get-title {
        font-size: 40px;
        width: 100%;
    }
    .get__info-right {
        width: 70%;
    }
    /* ==== BLOGS ==== */
    .blogs-content{
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
        gap: 40px;
    }
    .content-info{
        text-align: center;
        color: #000;
    }
    .content-link{
        color: #000;
    }
    .content-title {
        font-size: 27px;
        width: 100%;
        padding: 23px 0 43px 0;
    }
    .blogs__img {
        width: 100%;
        height: 400px;
    }
    .blogs__menu{
        display: flex;
        flex-direction: column;
    }
    .menu__left {
        padding: 8px 16px 22px 13px;
        box-shadow: 10px 10px 15px rgb(0 0 0 / 5%);
    }
    .menu__right {
        padding: 16px 18px 18px 18px;
    }
    .menu__title {
        font-size: 16px;
    }
    .menu__text{
        font-size: 14px;
    }
    .menu__link {
        color: rgb(0, 0, 0);
        font-size: 12px;
    }
    /* ==== FOOTER ==== */
    .footer__img {
        padding: 0px 40px;
    }
    .footer__link {
        padding: 0 7px;
    }
    .footer__social {
        padding: 0 5px;
    }
    .footer__item {
        padding-bottom: 27px;
    }
    .footer__icon {
        padding-top: 35px;
    }        
    .footer__info {
        padding: 23px 0px 34px 0px;
        font-size: 14px;
        line-height: 140.62%;
    }
    .footer__img {
        padding: 0px 27px;
    }
}  
@media(min-width:0) and (max-width:446.9px){
    /* ==== HEADER ==== */
    .header__menu{
        display: none;
    }
    .header__btn{
        display: none;
    } 
    .header__hambur {
        display: block;
        width: 10%;
        height: 34px;
    }  
    .header__img {
        width: 260%;
        height: 53px;
    }
    .header{
        display: flex;
        gap:230px;
    }
    /* ==== MENU ==== */
    .menu__top{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 1px;
    }
    .info {
        padding: 45px 0 30px 0px;
        width: 65%;
        text-align: center;
        margin: 0 auto;
    }
    .title{
        font-size: 26px;
    }
    .text{
        padding: 25px 0 32px 0;
        font-size: 14px;
        width: 102%;
    }
    .info-btn{
        padding: 7px 9px;
        letter-spacing: 0px;
    }
    .menu__bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .uptitle {
        font-size: 35px;
    }
    .uptext {
        padding: 23px 0px 0 0;
        font-size: 14px;
    }
    /* ==== OCCAS ==== */
    .occas{
        padding: 65px;
    }
    .occas-img {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .carusel{
        width: 100%;
    }
    /* ==== GER SRART ==== */
    .get__info {
        display: flex;
        gap: 37px;
        flex-direction: column;
        text-align: center;
    }
    .get-title {
        font-size: 30px;
        width: 100%;
    }
    .get-title {
        font-size: 30px;
        width: 100%;
    }
    .get__info-right {
        width: 70%;
    }
    .get__active{
        margin-bottom: 4px;
    }
    .get__btn {
        padding: 8px 8px;
    }
    /* ===== BLOGS ==== */
    .blogs-content{
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
        gap: 40px;
    }
    .content-info{
        text-align: center;
        color: #000;
    }
    .content-link{
        color: #000;
    }
    .content-title {
        font-size: 27px;
        width: 100%;
        padding: 23px 10px 43px 0;
    }
    .blogs {
        padding: 52px;
    }
    .blogs__img {
        width: 100%;
        height: 400px;
    }
    .blogs__menu{
        display: flex;
        flex-direction: column;
    }
    .menu__left {
        padding: 0px 0px 0px 0px;
        box-shadow: 10px 10px 15px rgb(0 0 0 / 5%);
    }
    .menu__right {
        padding: 0px 0px 0px 0px;
    }
    .menu__title {
        font-size: 16px;
    }
    .menu__text{
        font-size: 14px;
    }
    .menu__link {
        color: rgb(0, 0, 0);
        font-size: 12px;
    }
    /* ==== FOOTER ==== */
    .footer__img{
        padding: 0 20px;
    }
    .footer__link {
        padding: 0 4px;
    }
    .footer__social {
        padding: 0 3px;
    }
    .footer__icon {
        padding-top: 20px;
    }
    .footer__item {
        padding-bottom: 22px;
    }
    .footer__info {
        padding: 39px 0px 34px 0px;
    }
}   